body {
  background-color: #fdf6e3;
}

.container {
  padding-top: 12px;
}

/* b-admin */

.b-admin {
  margin-bottom: -10px;
  height: 30px;
}

.b-admin ul {
  list-style-type: none;
  width: 100%;
  float: left;
}

.b-admin li {
  float: left;
}

/* b-admin__addLecture */

.b-admin__addLecture a {
  text-decoration: none;
  float: left;
  line-height: 2.5;
}

.b-admin__addLecture i {
  color: #555;
  font-size: 20px;
  padding-top: 9px;
  padding-right: 0px;
  padding-bottom: -10px;
}

/* b-admin__upload  */

.b-admin__upload a {
  text-decoration: none;
  float: left;
  line-height: 2.5;
}

.b-admin__upload i {
  color: #555;
  font-size: 20px;
  padding: 9px 0 0 5px;
}

/* b-admin__download */

.b-admin__download a {
  text-decoration: none;
  float: left;
}

.b-admin__download i {
  color: #555;
  font-size: 20px;
  padding: 9px 0 0 9px;
}

/* b-admin__print */

.b-admin__print a {
  text-decoration: none;
  float: left;
}

.b-admin__print i {
  color: #555;
  font-size: 20px;
  padding: 9px 0 0 9px;
}

/* b-admin__search */

.b-admin__search {
  text-decoration: none;
  float: left;
  padding-left: 365px;
}

.b-admin__search {
  padding-top: 5px;
}

/* b-lecture */
.b-lecture__remove i {
  color: #555;
  text-decoration: none;
  padding: 0 0 0 3px;
}

.b-lecture__edit i {
  color: #555;
  text-decoration: none;
}

ul.thumbnails li {
  height: 106px;
}

ul.thumbnails li.span3:nth-child(4n + 5) {
  margin-left : 0px;
}

ul.thumbnails li.span3:nth-child(odd) {
  background-color: #e3ede5;
}

ul.thumbnails li.span3:nth-child(even) {
  background-color: #ede3eb;
}

.pdf:hover {
  text-decoration: none;
}

.homework {
  margin-right: 9px;
}

.homework:hover {
  text-decoration: none;
}

.b-lecture #time {
  margin-left: 8px;
}

@media print {
  body {
    background: #fff;
  }

  .b-lecture__edit i {
    display: none;
  }

  .b-lecture__remove i {
    display: none;
  }

  .b-admin {
    display: none;
  }

  .pdf {
    display: none;
  }

  .homework {
    display: none;
  }
}
