!!!

%head
  %link{:href => '/css/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => '/css/bootstrap-responsive.min.css', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => '/css/font-awesome.css', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => '/css/style.css', :rel => 'stylesheet', :type => 'text/css'}
  %title
    Лекции ШРИ

%body
  #b-loadModal
    .modal.hide.fade{ 'aria-hidden' => 'true' }
      .modal-body
        %form.form-horizontal
          .control-group
            %label.control-label{ 'for' => 'csv' }
              Данные
            .controls
              %textarea#csv{ 'rows' => 5,
                             'data-bind' => 'value:data'}

          .form-actions
            %button.btn.btn-primary{ 'type' => 'submit',
                                     'data-bind' => 'click: $root.download' }
              Сохранить

  #b-editModal
    .modal.hide.fade{ 'aria-hidden' => 'true' }
      .modal-body
        %form.form-horizontal

          .control-group
            %label.control-label{ 'for' => 'title' }
              Тема
            .controls
              %input#title{ 'class' => 'input-xlarge',
                            'type' => 'text',
                            'data-bind' => 'value:title',
                            'placeholder' => 'Разработка и дизайн' }

          .control-group
            %label.control-label{ 'for' => 'lecturer' }
              Лектор
            .controls
              %input#lecturer{ 'class' => 'input-xlarge',
                               'type' => 'text',
                               'data-bind' => 'value:lecturer',
                               'placeholder' => 'Велкопоповицкий Козел' }

          .control-group
            %label.control-label{ 'for' => 'date' }
              Дата
            .controls
              %input#date{ 'class' => 'input-small',
                           'type' => 'text',
                           'data-bind' => 'value:date',
                           'placeholder' => '10.01.2012' }

          .control-group
            %label.control-label{ 'for' => 'time' }
              Время
            .controls
              %input#time{ 'class' => 'input-small',
                           'type' => 'text',
                           'data-bind' => 'value:time',
                           'placeholder' => '11:00' }

          .control-group
            %label.control-label{ 'for' => 'pdf' }
              Презентация
            .controls
              %input#pdf{ 'class' => 'input-xlarge',
                          'type' => 'text',
                          'data-bind' => 'value:pdf',
                          'placeholder' => 'http://goo.gl/f8Yka' }

          .control-group
            %label.control-label{ 'for' => 'homework' }
              Домашка
            .controls
              %input#homework{ 'class' => 'input-xlarge',
                               'type' => 'text',
                               'data-bind' => 'value:homework',
                               'placeholder' => 'http://goo.gl/h23yx' }

          .form-actions
            %button.btn.btn-primary{ 'type' => 'submit',
                                     'data-bind' => 'click: $root.saveLecture' }
              Сохранить

  #b-search
    .container
      .b-admin
        .row-fluid
          .span12
            %ul
              %li.b-admin__addLecture
                %a{ 'href' => '#',
                    'rel' => 'tooltip',
                    'title' => 'Добавить лекцию',
                    'data-placement' => 'bottom',
                    'data-delay' => 400,
                    'data-bind' => "click: $root.editLecture"}
                  %i.icon-plus
              %li.b-admin__upload
                %a{ 'href' => '#',
                    'rel' => 'tooltip',
                    'title' => 'Выгрузить данные',
                    'data-placement' => 'bottom',
                    'data-delay' => 400 }
                  %i.icon-upload-alt
              %li.b-admin__download
                %a{ 'href' => '#',
                    'rel' => 'tooltip',
                    'title' => 'Загрузить данные',
                    'data-placement' => 'bottom',
                    'data-delay' => 400,
                    'data-bind' => "click: $root.downloadLectures"}
                  %i.icon-download-alt
              %li.b-admin__print
                %a{ 'href' => '#',
                    'rel' => 'tooltip',
                    'title' => 'Печать',
                    'data-placement' => 'bottom',
                    'data-delay' => 400 }
                  %i.icon-print
              %li.b-admin__search
                %input.search-query{ 'type'        => 'text',
                                     'placeholder' => 'поиск',
                                     'data-bind'   => 'value: searchTerm, valueUpdate: "afterkeydown"' }
      %hr/

      .row-fluid
        .span12
          %ul.thumbnails{ 'data-bind' => 'foreach: lectures' }
            %li.span3.thumbnail.b-lecture
              %a.pull-right.b-lecture__remove{ 'href' => '#', 'data-bind' => "click: $parent.removeLecture"}
                %i.icon-remove
              %a.pull-right.b-lecture__edit{ 'href' => '#', 'data-bind' => "click: $parent.editLecture" }
                %i.icon-pencil
              #title{ 'data-bind' => "text:attr('title')" }
              #lecturer{ 'data-bind' => "text:attr('lecturer')" }
              #date.pull-left{ 'data-bind' => "text:attr('date')" }
              %strong
                #time.pull-left{ 'data-bind' => "text:attr('time')" }
              %br/
              %a.pdf.pull-right{ 'data-bind' => "attr: { href: attr('pdf')}, text:'pdf'"}
              #homework{ 'data-bind' => "if :attr('homework')" }
                %a.homework.pull-right{ 'data-bind' => "attr: { href: attr('homework')}, text:'домашка'"}

  %script{:src => '/js/modernizr.js'}
  %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
  %script{:src => '/js/js-model.js'}
  %script{:src => '/js/knockout.js'}
  %script{:src => '/js/bootstrap.min.js'}
  %script{:src => '/js/app.js'}
